{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "max-len": [
      1,
      90,
      2
      
    ],
    "ignoreComments": true,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}